body{
  text-transform: uppercase;
  text-align: center;
}
.first_reason>p{
  font-size: 15px;
}
.first_reason>h2{
  font-size: 15px;
  text-align: center;
}
.first_reason{
  background-color: #81b3d2;
  color: white;
  float: left;
  width: 380px;
  height: 260px;
  margin-left: 50px;
  text-align: center;
}
.reason_picture{
  float: left;
  height: 260px;
  margin-left: 10px;
  text-align: center;
  background-color: red;
}
.advices{
  clear: both;
}
.advices_item_house{
  float: left;
  width: 350px;
  margin-right: 50px;
  margin-left: 50px;
  text-align: center;

}
.advices_item_eat{
  float: left;
  width: 350px;
  margin-right: 50px;
  text-align: center;

}
.advices_item_present{
  float: left;
  width: 380px;
  margin-left: 50px;
  text-align: center;

}
.second_reason{
  background-color: #81b3d2;
  color: white;
  float: left;
  width: 380px;
  height: 260px;
  margin-left: 50px;
  text-align: center;
}
.reasons3-5{
  clear: both;
}
.third_reason{
  float: left;
  width: 350px;
  margin-right: 50px;
  margin-left: 80px;
  text-align: center;
  background-color: blue;
}
.fourth_reason{
  float: left;
  width: 350px;
  margin-right: 50px;
  text-align: center;
  background-color: green;
}
.fifth_reason{
  float: left;
  width: 380px;
  margin-left: 10px;
  text-align: center;
  background-color: red;
}

ul>li{
  display: inline;
  padding: 50px;
}
.hotel{
  clear: both;
}
.main_footer{
  clear: both;
}
.container>p{
  float: left;
}
.footer_social{
  float: left;
  text-align: center;
}
.footer_copyright{
  float: left;
}
/*CSS для каталога*/
body{
  text-transform: uppercase;
  /*text-align: center;*/
}
.main_navigation>ul>li{
  display: inline;
  padding: 50px;
}
.price{
  float: right;
  display: inline;
  width: 900px;
  background-color: yellow;
  margin-top: -115px;
}
.type_house{
  clear: both;
  width: 200px;
  float: left;
  border-color: red;
  margin-top: -125px;
  margin-left: 255px;
}
.infrastructure{
  width: 80px;
  border-color: red;
}
.sort>ul>li{
  clear: both;
  display: inline;
  padding: 10px;
}
.sort{
  background-color: red;
  margin-top: 55px;
}
.name_hotel{
  float: left;
  height: 200px;
}
.features{
  float: left;

}
.amara_resort>img{
  float: left;
  clear: both;
}
.Desert_quail_inn>img{
  float: left;
  clear: both;
}

.Villas_at_poco_diablo>img{
  float: left;
  clear: both;
}

.rating{
  float: right;
}
.main_footer{
  clear: both;
}
.social_btn_vk, .social_btn_fb, .social_btn_youtube{
  background-color: #81b3d2;
  width: 50px;
}
