body{
  font-family: "PT Sans", "Tahoma", sans-serif;
  line-height: 21px;
}
a{
  text-decoration: none;
}
.container{
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  min-width: 768px;
  max-width: 1200px;
}
.clearfix:after{
  content: " ";
  display: table;
  clear: both;
}
.logo{
  z-index: 200;
  position: relative;
}
.picture{
  position: relative;
  margin-top: -15px;
  width: 100%;
}
.picture::after{
  content: " ";
  height: 65px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0;
  z-index: 100;
  background-image: url(../img/decorative_el.png);
}
.welcome{
  z-index: 200;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 55px;
  margin-bottom: 55px;
  padding-right: 330px;
  padding-left: 330px;
}
.welcome>b{
  font-size: 21px;
  line-height: 26px;
}
.welcome>p{
  font-family: "PTSans Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
}
.reasons{
  float: left;
  max-height: 256px;
  background-color: #81b3d2;
}
.first_reason{
  float: left;
  color: white;
  width: 33.33%;
  padding-top: 35px;
  padding-bottom: 55px;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
  text-align: center;
}
.first_reason>h2{
  width: 150px;
  margin-left: 65px;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
}

.first_reason_picture{
  float: right;
  width: 66.66%;
}
.first_reason_picture>img{
  width: 100%;
  height: 100%;
}
.advices_item{
  float: left;
  width: 33.33%;
  text-align: center;
}
.advices_name{
  padding-top: 140px;
  padding-bottom: 68px;
  padding-right: 60px;
  padding-left: 60px;
}
.advices_name>h2{
  font-weight: bold;
  font-size: 21px;
}
.advices_name>p{
  padding-top: 10px;
  font-family: "PTSans Regular","Arial", sans-serif;
  font-size: 13px;
}
.house{
  background-position: center 60px;
  background-image: url(../img/house.png);
  background-repeat: no-repeat;
}
.eat{
  background-position: center 60px;
  background-image: url(../img/eat.png);
  background-repeat: no-repeat;
}
.present{
  background-position: center 60px;
  background-image: url(../img/present.png);
  background-repeat: no-repeat;
}
.second_reason{
  float: right;
  background-color: #81b3d2;
  color: white;
  width: 33.33%;
  padding-top: 35px;
  padding-bottom: 50px;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
  text-align: center;
}
.second_reason>h2{
  font-weight: bold;
  font-size: 21px;
  width: 150px;
  margin-left: 65px;
}
.second_reason_picture{
  float: left;
  width: 66.66%;
}
.second_reason_picture>img{
  width: 100%;
  height: 100%;
}
.causes{
  float: left;
  width: 33.33%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 45px;
  padding-right: 65px;
  padding-left: 65px;
  box-sizing: border-box;
}
.causes>h2{
  width: 150px;
  margin-left: 65px;
}
.causes>p{
  padding-top: 5px;
}
.cause{
  background-color: #eeeeee;
}
.found{
  width: 455px;
  height: 55px;
  text-transform: uppercase;
  color: white;
  border: none;
  background-color: #81b3d2;
}
.found:hover{
  background-color: #669ec0;
  color: white;
}
.found:active{
  background-color: #5496bd;
  color: #88b6d1;
}
.title_search{
  width: 565px;
  height: 85px;
  background-color: #766357;
  box-sizing: border-box;
  padding-top: 30px;
}
.title_search a{
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  padding-top: 30px;
}
.search{
  width: 565px;
  height: 480px;
  margin: auto;
  position: relative;
  z-index: 100;
}

.found{
  margin: 50px;
  font-size: 21px;
  font-weight: bold;
}
.google_map{
  position: absolute;
  z-index: 1;
  margin-top:85px;
}
.hotel>p{
  margin-left: 370px;
  margin-right: 370px;
  margin-bottom: 50px;
  font-family: "PTSans Regular", "Arial",sans-serif;
  font-size: 14px;
}
.hotel>h3{
  margin-top: 50px;
  font-weight: bold;
  font-size: 30px;
}
.date{
  padding-top: 55px;
}
.date_arrive{
  margin-bottom: 30px;
  padding-right: 25px;
}
.date_depature{
  margin-bottom: 10px;
  padding-right: 25px;
}
.date label{
  display: inline;
  font-size: 14px;
  margin-right: 15px;
  font-weight: bold;
  margin-left: 0;
}
.date input[type="text"]{
  display: inline;
  text-transform: uppercase;
  width: 315px;
  height: 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
  padding-left: 10px;
  padding-right: 2px;
  box-sizing: border-box;
}
.date input:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

input:hover+button, .date input:hover{
  background-color: #ebebeb;
}
.date input:focus{outline:none;}
.date button,
button:active,
button:focus {
    outline: none;
}
.date input:active{
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
.people input{
  text-transform: uppercase;
  width: 110px;
  height: 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
}
.people input:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

.adults, .child{
  font-size: 0;
  width: 50%;
  display: inline;

}
.adults label, .child label {
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
  width: auto;
  font-size: 14px;
  font-weight: bold;
}
.adults label{
    margin-left: 35px;
    padding-right: 15px;
}
.child label{
  margin-left: 15px;
}
.people button,
button:active,
button:focus {
    outline: none;
}
.adults input:hover, .child input:hover{
  background-color: #ebebeb;
}
.people input:focus{
  outline:none;
}
.people input:active{
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
.adults input, .child input{
  position: relative;
  text-align: center;
  z-index: 1;
}
.adults button, .child button{
  position: relative;
  z-index: 10;
  background-color: transparent;
  border: none;
}
.plus_adults, .plus_child{
  top: 18px;
  left: 24px;
  width: 24px;
  height: 40px;
  padding: 0;
}
.minus_adults, .minus_child{
  top: 15px;
  right: 40px;
  width: 40px;
  height: 40px;
}
/*CSS для каталога*/
.main_navigation{
  width: 100%;
  font-weight: bold;
  font-size: 14px;
}
.info, .foto, .logo, .map, .nav_hotel{
  width: 20%;
}
.info, .foto{
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
.map, .nav_hotel{
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main_navigation>ul>li>a{
    color: #000000;
}
.main_navigation>ul>li{
  display: inline;
}
.main_navigation>ul>li>a:hover{
    color: #81b3d2;
    font-weight: bold;
  }
.main_navigation>ul>li>a:active{
  color: #b2b2b2;
  font-weight: bold;
}
.type_house ul, .infrastructure ul, .main_navigation ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox]+label{
  line-height: 25px;
  display: inline-block;
  vertical-align: top;
}

input[type=checkbox]+label:before {
  content: "\2610";
  font-size: 25px;
  font-family: "symbols-sedona";
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 10px;
  color: white;
}
input[type=checkbox]:checked + label:before {
  content: "\2611";
  margin-right: 6.5px;
}

.price{
  float: right;
  width: 40%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  color: white;
  margin-right: 60px;
  margin-top: 15px;
  margin-left: 100px;
}
/*filter*/
/*_________________________________________________*/
.price-controls {
  position: relative;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.range_filter {
  height: 35px;
  width: 320px;
  margin: 10px 150px;

  color: #ffffff;
  text-transform: uppercase;
}
.price>h2{
  font-size: 16px;
  font-weight: bold;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}
.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: top;
  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 35px;
}
.price-controls input {
  width: 30px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  background: #1c4f80;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}
/*_________________________________________*/
.type_house{
  text-align: left;
  float: left;
  width: 20%;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  border: none;
  color: white;
}
.type_house legend, .infrastructure legend{
  font-weight: bold;
}
.infrastructure{
  text-align: left;
  float: left;
  width: 20%;
  margin-left: 70px;
  margin-top: 30px;
  padding: 0;
  border: none;
  color: white;
  font-size: 16px;
}
.infrastructure li{
  padding-top: 15px;
}
.type_house li{
  padding-top: 15px;
}
.options{
  margin: -15px;
  position: relative;
  width: 100%;
  height: 215px;
  background-image: url(../img/filter_background.jpg);
}
.options legend{
  margin-bottom: 10px;
}
.sort>ul>li{
  float: left;
  display: inline;
  margin-left: 30px;
  margin-bottom: 30px;
}
.sort>ul>li:nth-child(6){
  float: right;
  margin-right: 0px;
}
.sort>ul>li:nth-child(7){
  float: right;
}
.arrow_up>a::before{
  float: right;
  content: "\25b2";
}
.arrow_down>a::before{
  float: right;
  content: "\25bc";
}
.arrow_up>a:before:hover{
  color: #ffffff;
}
.arrow_up>a:before:active{
  color: #81b3d2;
}

.arrow>a{
  display: inline-block;
  width: 15px;
  text-decoration: none;
  margin-top: 5px;
  color: #cccccc;
  font-size: 23px;
  line-height: 20px;
}
.arrow_down>a{
  margin-right: 90px;
}
.arrow_up>a{
  margin-right: -20px;
}
.sort{
  margin-top: 50px;
  margin-left: -15px;
}
.sort>ul>li:first-child{
  font-weight: bold;
  font-size: 21px;
}
.sort>ul>li>a{
  color: #b2b2b2;
  float: right;
  font-size: 12px;
  font-family: "PTSans Regular","Arial", sans-serif;
}
.sort>ul>li>a:hover{
  color: #a3c7de;
}
.sort>ul>li>a:active{
  color: #000000;
}
.sort>ul>li{
  font-size: 12px;
  font-family: "PTSans Regular","Arial", sans-serif;
}
.sort_price>a:active{
  color: #a3c7de;
  border-bottom: 1px solid #000000;
}
.sort_rating_and_type{
  color: #c7c7c7;
  border-bottom: 1px dashed #c7c7c7;
}
.sort_rating_and_type:hover{
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}
.sort_rating_and_type:active{
  color: #ffffff;
  border-bottom: 1px dashed #ffffff;
}

.name_hotel{
  float: left;
  width: 60%;
  margin-left: 30px;
  text-align: left;
}
.name_hotel>p{
  padding-bottom: 10px;
  margin: 0px;
  font-size: 21px;
  font-weight: bold;
}
.name_hotel>p:hover{
  color: #81b3d2;
  font-weight: bold;
}
.name_hotel>p:active{
  color: #b2b2b2;
  font-weight: bold;
}
.price_and_type{
  float: left;
  font-family: "PTSans Regular","Arial", sans-serif;
  font-size: 14px;
  padding-bottom: 10px;
}
.amara{
  margin-left: 30px;
}
.desert{
  margin-left: 55px;
}
.villas{
  margin-left: 15px;
}
.features{
  float: left;
  margin-left: 30px;
  margin-right: 6px;
}
.reserve{
  width: 140px;
  height: 25px;
  color: white;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  padding: 5px 14px 5px 14px;
}
.reserve{
  background-color: #766357;
}
.reserve:hover{
  background-color: #604e43;
}
.reserve:active{
  color: #857871;
  background-color: #503e33;
}
.more{
  width: 110px;
  height: 25px;
  color: white;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  padding: 5px 14px 5px 14px;
}
.more{
  background-color: #81b3d2;
}
.more:hover{
  background-color: #669ec0;
}
.more:active{
  color: #88b6d1;
  background-color: #5496bd;
}
.amara_resort>img{
  float: left;
  margin-left: 60px;
}
.amara_resort{
  margin-bottom: 30px;
  margin-top: 30px;
}
.desert_quail_inn>img{
  float: left;
  margin-left: 60px;
}
.desert_quail_inn{
  margin-bottom: 50px;
  margin-top: 55px;
}
.villas_at_poco_diablo>img{
  float: left;
  margin-left: 60px;
}
.villas_at_poco_diablo{
  margin-bottom: 15px;
  margin-top: 25px;
}
.rating{
  font-family: "PTSans Regular","Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
  color: #828282;
  margin-left: 60px;

}
.rating_amara:before{
  font-size: 25px;
  margin-top: 25px;
  margin-right: 30px;
  content: "\2605\2605\2605\2605";
  color: #81b3d2;
}
.rating_desert:before{
  font-size: 25px;
  margin-top: 20px;
  margin-right: 30px;
  content: "\2605\2605";
  color: #81b3d2;
}
.rating_villas:before{
  font-size: 25px;
  margin-top: 30px;
  margin-right: 30px;
  content: "\2605\2605\2605";
  color: #81b3d2;
}
.rating>p{
  background-color: #f2f2f2;
  width: 110px;
  height: 25px;
  padding-top: 3px;
  box-sizing: border-box;
  margin-right: 70px;
  margin-top: 40px;
}

.main_footer{
  width: 100%;
  z-index: 100;
  position: relative;
  margin-top:75px;
  background-color: rgba(255, 255, 255, 0.7);
}
.hashtag{
  float: left;
  width: 33.33%;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 55px;
}
.footer_social{
  float: left;
  margin-left: 120px;
  margin-top: 35px;
}
.social_btn{
  width: 50px;
  height: 50px;
  background-color: #81b3d2;
  float: right;
  margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 5px;

}
.social_btn_tw{
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/twitter.png);
}
.social_btn_fb{
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/facebook.png);
}
.social_btn_youtube{
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/youtube.png);
}
.social_btn:hover{
  background-color: #669ec0;
}
.social_btn:active{
  background-color: #5496bd;
  color: #88b6d1;
}
.footer_copyright{
  float: right;
  width: 33.33%;
  box-sizing: border-box;
}
.footer_copyright>p{
  float: left;
  font-family: "PTSans Regular","Arial", sans-serif;
  font-size: 14px;
  margin-top: 50px;
  margin-left: 85px;
}
.footer_copyright>a{
  width: 113px;
  height: 39px;
  margin-top: 40px;
  padding: 0;
  margin-right: 110px;
  margin-left: 5px;
  background-position: center;
  display: inline-block;
  box-sizing: border-box;
}
.website_by{
  background-repeat: no-repeat;
  background-image: url(../img/footer.png);
}
.website_by:hover{
  background-repeat: no-repeat;
  background-image: url(../img/footer_hover.png);
}
.website_by:active{
  background-repeat: no-repeat;
  background-image: url(../img/footer_active.png);
}
/*sprite*/
.calendar_arrive, .calendar_depart{
  width: 40px;
  height: 40px;
  border: none;
  display: inline;
  position: absolute;
  background-color: #f2f2f2;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -10px -10px;
}
.calendar_arrive:hover, .calendar_depart:hover{
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -10px -72px;
}
.calendar_arrive:active, .calendar_depart:active{
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -70px -9px;
}
.plus_adults, .plus_child{
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -70px -65px;
}
.plus_adults:hover, .plus_child:hover{
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -130px -3px;
}
.plus_adults:active, .plus_child:active{
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -70px -107px;
}
.minus_adults,.minus_child{
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -127px -52px;
}
.minus_adults:hover, .minus_child:hover{
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -5px -153px;
}
.minus_adults:active, .minus_child:active{
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -118px -103px;
}

.sprite {
    background-image: url(..img/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite_celendar {
    width: 21px;
    height: 22px;
    background-position: -20px -20px;
}

.sprite_celendar_active {
    width: 21px;
    height: 22px;
    background-position: -81px -20px;
}

.sprite_celendar_hover {
    width: 21px;
    height: 22px;
    background-position: -20px -82px;
}

.sprite_minus {
    width: 12px;
    height: 3px;
    background-position: -81px -82px;
}

.sprite_minus_active {
    width: 12px;
    height: 3px;
    background-position: -81px -125px;
}

.sprite_minus_hover {
    width: 12px;
    height: 3px;
    background-position: -142px -20px;
}

.sprite_plus {
    width: 11px;
    height: 11px;
    background-position: -142px -63px;
}

.sprite_plus_active {
    width: 11px;
    height: 11px;
    background-position: -133px -114px;
}

.sprite_plus_hover {
    width: 11px;
    height: 11px;
    background-position: -20px -165px;
}
/*javascript*/

.search_form{
display: none;
background-color: white;
width: 100%;
}

@keyframes bounce {
0% {
transform: translateY(-5px);
}
100% {
transform: translateY(0);
}
}
.search_form_show {
display: block;
animation: bounce 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes shake {
0%, 100% {
transform: translateX(0);
}
10%, 30%, 50%, 70%, 90% {
transform: translateX(-5px);
}
20%, 40%, 60%, 80% {
transform: translateX(5px);
}
}

.search_form_error {
animation: shake 0.6s;
}
