body{
  font-family: "PT Sans", "Tahoma", sans-serif;
}
a{
  text-decoration: none;
}
.container{
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  min-width: 768px;
  max-width: 1200px;
}
.clearfix:after{
  content: " ";
  display: table;
  clear: both;
}
.picture{
  position: relative;
  width: 100%;
}
.picture::after{
  content: " ";
  height: 273px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0;
  z-index: 100;
  background-image: url(../img/decorative_el.png);
}

.welcome:after{
  position: absolute;
  z-index: 200;
}
.reason{
  float: left;
}
.first_reason{
  float: left;
  background-color: #81b3d2;
  color: white;
  width: 33%;
  text-align: center;
}
.first_reason_picture{
  float: right;
  width: 67%;
}
.first_reason_picture>img{
  width: 100%;
  height: 100%;
}
.advices_item{
  float: left;
  width: 33.33%;
  text-align: center;
}

.second_reason{
  float: right;
  background-color: #81b3d2;
  color: white;
  width: 33%;
  text-align: center;
}
.second_reason_picture{
  float: left;
  width: 67%;
}
.second_reason_picture>img{
  width: 100%;
  height: 100%;
}
.causes{
  float: left;
  width: 33.33%;
  text-align: center;
  background-color: #eeeeee;
}

.found{
  width: 455px;
  height: 55px;
  color: white;
  border: none;
  background-color: #81b3d2;
}
.found:hover{
  background-color: #669ec0;
  color: white;
}
.found:active{
  background-color: #5496bd;
  color: #88b6d1;
}
.title_search{
  width: 565px;
  height: 85px;
  background-color: #766357;
}
.title_search a{
  color: #ffffff;
}
.search{
  width: 565px;
  height: 480px;
  border: solid;
  position: relative;
}
.search::before{
  position: relative;
  background-image: url(../img/map.jpg);
}
.people input{
  width: 115px;
  height: 40px;
  font-size: 14px;
  line-height: 24px;
}
.data input{
  width: 345px;
  height: 38px;
  font-size: 14px;
  line-height: 24px;
  margin: 30px;
  background-color: #f2f2f2;
  border: none;
}
.data input:hover{
  background-color: #ebebeb;
}
.data input:active{
  background-color: #ffffff;
  border:solid;
  border-color: #e5e5e5;
}
.found{
  margin: 50px;
}

/*CSS для каталога*/
.main_navigation{
  width: 100%;
  font-weight: bold;
  color: #ffffff;
}
.info, .foto, .logo, .map, .nav_hotel{
  width: 20%;
}
.info, .foto{
  float: left;
}
.map, .nav_hotel{
  float: right;
}
.main_navigation>ul>li{
  display: inline;
}
.main_navigation li{
  color: black;
}
.type_house ul, .infrastructure ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox]+label{
  line-height: 25px;
  display: inline-block;
  vertical-align: top;
}

input[type=checkbox]+label:before {
  content: "\2610";
  font-size: 20px;
  font-family: "symbols-sedona";
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 10px;
  color: white;
}
input[type=checkbox]:checked + label:before {
  content: "\2611";
}
.price>h2{
  text-align: left;
  font-weight: bold;
}
.price{
  float: right;
  width: 40%;
  box-sizing: border-box;
  position: relative;
  color: white;
  margin: 20px;
}
.type_house{
  text-align: left;
  float: left;
  width: 20%;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  border: none;
  color: white;
}
.type_house legend, .infrastructure legend{
  font-weight: bold;
}
.infrastructure{
  text-align: left;
  float: left;
  width: 20%;
  margin-left: 50px;
  margin-top: 30px;
  padding: 0;
  border: none;
  color: white;
}
.options{
  position: relative;
  width: 100%;
  background-image: url(../img/filter_background.jpg);
}
.options legend{
  margin-bottom: 10px;
}

.sort>ul>li{
  float: left;
  display: inline;
  margin-left: 30px;
  margin-bottom: 30px;
}

.arrow::before{
  float: right;
  content: "\25b2\25bc";
  color: #cccccc;
}
.arrow:before:hover{
  color: #ffffff;
}
.arrow:before:active{
  color: #81b3d2;
}

.sort{
  margin-top: 55px;
}
.sort>ul>li:first-child{
  font-weight: bold;
}
.sort>a{
  float: right;
}
.sort_price:active{
  color: #a3c7de;
}
.sort_rating_and_type{
  color: #c7c7c7;
  border-bottom: 1px dashed #c7c7c7;
}
.sort_rating_and_type:hover{
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}
.sort_rating_and_type:active{
  color: #ffffff;
  border-bottom: 1px dashed #ffffff;
}

.name_hotel{
  float: left;
  width: 75%;
  text-align: left;
}
.name_hotel>p{
  font-weight: bold;
}
.name_hotel>p:hover{
  color: #81b3d2;
  font-weight: bold;
}
.name_hotel>p:active{
  color: #b2b2b2;
  font-weight: bold;
}
.price_and_type{
  float: left;
}
.features{
  float: left;
}
.reserve, .more{
  width: 140px;
  height: 25px;
  color: white;
}
.reserve{
  background-color: #766357;
}
.reserve:hover{
  background-color: #604e43;
}
.reserve:active{
  color: #857871;
  background-color: #503e33;
}
.more{
  background-color: #81b3d2;
}
.more:hover{
  background-color: #669ec0;
}
.more:active{
  color: #88b6d1;
  background-color: #5496bd;
}
.amara_resort>img{
  float: left;
}
.desert_quail_inn>img{
  float: left;
}

.villas_at_poco_diablo>img{
  float: left;
}

.rating{
  float: right;
  color: #828282;
  padding: 10px;
}
.rating_amara:before{
  content: "\2605\2605\2605\2605";
  color: #81b3d2;
}
.rating_desert:before{
  content: "\2605\2605";
  color: #81b3d2;
}
.rating_villas:before{
  content: "\2605\2605\2605";
  color: #81b3d2;
}
.rating>p{
  background-color: #f2f2f2;
}

.main_footer{
  width: 100%;
}
.hashtag{
  float: left;
  width: 33.33%;
  font-weight: bold;
  text-align: center;
}
.footer_social{
  float: left;
  width: 33.33%;
  text-align: center;
}
.social_btn{
  width: 50px;
  height: 50px;
  background-color: #81b3d2;
  float: right;
  box-sizing: border-box;
  margin: 20px;
  padding-top: 15px;
}
.social_btn:hover{
  background-color: #669ec0;
}
.social_btn:active{
  background-color: #5496bd;
  color: #88b6d1;
}
.footer_copyright{
  float: right;
  width: 33.33%;
}
.website_by{
  background-image: url(../img/footer.png);
}
.website_by:hover{
  background-image: url(../img/footer_hover.png);
}
.website_by:active{
  background-image: url(../img/footer_active.png);
}
/*filter*/

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}
